<section class="container">
    <h1>HOLA EMPRENDEDORA</h1>
    <p>Te otorgamos un prestamo para que puedas seguir creciendo</p>
    <section  class="d-flex justify-content-center">
        <div class="">
          <div type="div" class="btn btn-default btn-circle btn-xl activado">1
          </div>
          <p>Calcula tu préstamo</p>
        </div>
        <div>
            <div type="div" class="btn btn-default btn-circle btn-xl desactivado">2
              </div>
          <p>Ingresa tus datos</p>
        </div>
        <div>
            <div type="div" class="btn btn-default btn-circle btn-xl desactivado">3
              </div>
          <p>Compara préstamos</p>
        </div>
        <div>
            <div type="div" class="btn btn-default btn-circle btn-xl desactivado">4
              </div>
          <p>Solicita tu préstamo</p>
        </div>
        <div>
            <div type="div" class="btn btn-default btn-circle btn-xl desactivado">5
              </div>
            <p>Recibe tu préstamo</p>
          </div>  </section>
   </section>