<article class="container">
  <h1>HOLA EMPRENDEDORA</h1>
  <p>Te otorgamos un prestamo para que puedas seguir creciendo</p>
  <ul  class="d-flex justify-content-center stepper horizontal" id="horizontal-stepper">
    <li class="step active">
      <div type="div" class="btn btn-default btn-circle btn-xl step-title waves-effect waves-dark activado">1</div>
      <p>Calcula tu préstamo</p>
      <div class="step-new-content">
        <app-calcula-prestamo></app-calcula-prestamo>
      </div>
    </li>

    <li class="step">
      <div type="div" class="btn btn-default btn-circle btn-xl step-title waves-effect waves-dark activado">2</div>
      <p>Ingresa tus datos</p>
      <div class="step-new-content">
        <app-ingresar-datos></app-ingresar-datos>
      </div>
    </li>

    <li class="step">
      <div type="div" class="btn btn-default btn-circle btn-xl step-title waves-effect waves-dark desactivado">3</div>
      <p>Compara préstamos</p>
      <div class="step-new-content">
        <app-comparar-prestamos></app-comparar-prestamos>
      </div>
    </li>

    <li class="step">
      <div type="div" class="btn btn-default btn-circle btn-xl step-title waves-effect waves-dark desactivado">4</div>
      <p>Solicita tu préstamo</p>
      <div class="step-new-content">
        <app-solicitar-prestamos></app-solicitar-prestamos>
      </div>
    </li>

    <li class="step">
      <div type="div" class="btn btn-default btn-circle btn-xl step-title waves-effect waves-dark desactivado">5</div>
      <p>Recibe tu préstamo</p>
      <div class="step-new-content">
        <app-recibir-prestamos></app-recibir-prestamos>
      </div>
    </li>
  </ul>
</article>