<article class="one">
  <div class="registro">
    <a href="#">INICIAR SESIÓN </a>
    <a href="#">  REGISTRATE</a>
  </div>  <h2 class="title">Mujer<br>Emprendedora</h2>  <h1 class="subtitle">TE AYUDAMOS A HACER TUS <br><span>SUEÑOS</span> POSIBLES</h1>
  <div class="button">
      <button class="btn" type="button"><span>CONOCE NUESTROS SERVICIOS</span></button>
  </div></article>
 <article class="two">
  <p class="text-center text">"La plataforma colaborativa que busca el empoderamiento <br> femenino mediante el crecimiento ecónomico de las mujeres <br>emprendedoras"</p>
  <h4 class="text-center">¿QUÉ ENCONTRARÉ EN JUNTAS?</h4>
  <div class="container">
    <div class="card-one">
      <h1>1</h1>
      <img class="img" src="../../../assets/imagenes/imagen2.PNG" width="150px" height="150px" />
      <p class="parrafo">Podrás solicitar préstamos<br> accesibles y sin tantos <br>papeleos.</p>
    </div>
    <div class="card-one">
      <h1>2</h1>
      <img class="img" src="../../../assets/imagenes/imagen3.PNG"width="150px" height="150px" />
      <p class="parrafo">Encontraras colaboradores y<br> proveedores de confianza <br>para tu negocio.</p>
    </div>
    <div class="card-one">
      <h1>3</h1>
      <img class="img" src="../../../assets/imagenes/imagen4.PNG" width="150px" height="150px" />
      <p class="parrafo">Información para hacer <br>crecer tu negocio, tips y <br>recomendaciones.</p>
    </div>
  </div>
 </article>
 <article class="three">
  <h1>NUESTROS SERVICIOS</h1>
  <div class="container-three">
    <div class="imagen">
      <img src="../../../assets/imagenes/imagen5.PNG" width="100%" height="100%" />
    </div>
    <div class="texto">
      <h5>PIDE UN PRESTAMO PARA TU <br>NEGOCIO</h5>
      <p>Encuentra préstamos a tu medida, sin tantos<br> requisitos y de forma rápida</p>
      <button type="button" class="btn" [routerLink] = "['/servicios']">PIDE TU PRESTAMO</button>
    </div>
  </div>
  <div class="container-three">
    <div class="texto">
      <h5>ENCUENTRA UN PERSONAL DE CONFIANZA</h5>
      <p>Ingresa tu perfil, cuentanos que necesitas<br> (proveedores, colaborados) y te conectamos con la <br>persona ideal para tu negocio.</p>
      <button type="button" class="btn">INCREMENTA TU RED DE CONTACTOS</button>
    </div>
    <div class="imagen">
      <img src="../../../assets/imagenes/imagen6.PNG" width="100%" height="100%" />
    </div>
  </div>
  <div class="container-three">
    <div class="imagen">
      <img src="../../../assets/imagenes/imagen7.PNG" width="100%" height="100%"/>
    </div>
    <div class="texto">
      <h5>HAZ CRECER TU NEGOCIO</h5>
      <p>Te brindamos información del sector de tu <br>negocio y te recomendamos soluciones para<br> hacerlo crecer.</p>
        <button type="button" class="btn">HAZ CRECER TU NEGOCIO</button>
    </div>
  </div>
 </article>
 <app-otros-servicios></app-otros-servicios>