<article>

    <div>
  
      <a href="#">INICIAR SESION</a>
  
      <a href="#">REGISTRATE</a>
  
    </div>
  
  
  
    <h2>Mujer<br>Emprendedora</h2>
  
  
  
    <h1>TE AYUDAMOS A HACER TUS <span>SUEÑOS</span> POSIBLES</h1>
  
  
  
    <button type="button">CONOCE NUESTROS SERVICIOS</button>
  
  
  
  </article>
  
  <article>
  
    <p class="text-center">"La plataforma colaborativa que busca el empoderamiento femenino mediante el crecimiento ecónomico de las mujeres emprendedoras"</p>
  
    <h4>¿QUÉ ENCONTRARÉ EN JUNTAS?</h4>
  
    <div class="">
  
      <div>
  
        <h1>1</h1>
  
        <img src="../../../assets/imagenes/imagen2.PNG" />
  
        <p>Podrás solicitar préstamos accesibles y sin tantos papeleos.</p>
  
      </div>
  
      <div>
  
        <h1>2</h1>
  
        <img src="../../../assets/imagenes/imagen3.PNG" />
  
        <p>Encontraras colaboradores y proveedores de confianza para tu negocio.</p>
  
      </div>
  
      <div>
  
        <h1>3</h1>
  
        <img src="../../../assets/imagenes/imagen4.PNG" />
  
        <p>Información para hacer crecer tu negocio, tips y recomendaciones.</p>
  
      </div>
  
    </div>
  
  </article>
  
  <article>
  
    <h1>NUESTROS SERVICIOS</h1>
  
    <div>
  
      <div>
  
        <img src="../../../assets/imagenes/imagen5.PNG" />
  
      </div>
  
      <div>
  
        <h5>PIDE UN PRESTAMO PARA TU NEGOCIO</h5>
  
        <p>Encuentra préstamos a tu medida, sin tantos requisitos y de forma rápida</p>
  
        <button type="button" class="btn" [routerLink] = "['/servicios']">PIDE TU PRESTAMO</button>
  
      </div>
  
    </div>
  
    <div>
  
      <div>
  
        <h5>ENCUENTRA UN PERSONAL DE CONFIANZA</h5>
  
        <p>Ingresa tu perfil, cuentanos que necesitas (proveedores, colaborados) y te conectamos con la persona ideal para tu negocio.</p>
  
        <button type="button" class="btn">INCREMENTA TU RED DE CONTACTOS</button>
  
      </div>  
  
      <div>
  
        <img src="../../../assets/imagenes/imagen6.PNG" />
  
      </div>
  
    </div>
  
    <div>
  
      <div>
  
        <img src="../../../assets/imagenes/imagen7.PNG" />
  
      </div>
  
      <div>
  
        <h5>HAZ CRECER TU NEGOCIO</h5>
  
        <p>Te brindamos información del sector de tu negocio y te recomendamos soluciones para hacerlo crecer.</p>
  
          <button type="button" class="btn">HAZ CRECER TU NEGOCIO</button>
  
      </div>
  
    </div>
  
  </article>
  

