<section>

  <h1>INGRESA TUS DATOS</h1>
  
  <form action="">
  
    <input type="text" placeholder="NOMBRE" pattern="[A-Z]{1}[a-z]{2,}" title="solo letras y la primera en mayúscula" required>
  
    <input type="text" placeholder="APELLIDO" pattern="[A-Z]{1}[a-z]{2,}" title="solo letras y la primera en mayúscula" required>
  
    <input type="email" placeholder="EMAIL" required>
  
    <input type="text" placeholder="DNI" maxlength="8" pattern="[0-9]{8}" required>
  
    <input type="tel" placeholder="CELULAR" pattern="[9]{1}[0-9]{8}" maxlength="9" required>

    <input type="text" placeholder="RUC" pattern="[0-9]{10}" maxlength="10" required>
  
    <input type="text" placeholder="CÓDIGO DE CLIENTE VISANET" maxlength="9" pattern="[0-9]{9}" required>
  
    <input type="text" placeholder="RUBRO DEL NEGOCIO" required>
  
    <input type="password" placeholder="CONTRASEÑA" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" minlength="6" maxlength="15" title="Debe contener min 6 caracteres y max 15 caracteres, debe tener min 1 número y una mayúscula" required>
  
    <input type="checkbox" name="cliente-visanet">
    <label for="cliente-visanet">NO SOY CLIENTE VISANET</label>
  
    <input type="submit" value="SOLICITAR">

  </form>
  
</section>