<section>
  <h1>Calcula tu préstamo</h1>
  <table>
     <tr>
       <th>¿Cuánto necesitas?</th>
       <th>¿Cuánto tiempo?</th>
       <th>Debo pagar</th>
       <th>Resumen de Pago</th>
     </tr>
     <tr>
       <td>
         <button (click)="menosCantidad()">-</button>
         <span>S/.{{cantidadInicializada }}</span>
         <button (click)="masCantidad()">+</button>
       </td>
       <td>
           <select name="meses" #valor (change)="numeroMeses(valor.value)">
             <option value="12">12 meses</option>
             <option value="36">36 meses</option>
             <option value="48">4 años</option>
             <option value="60">5 años</option>
           </select>
         </td>
         <td>S/.{{cuota}}</td>
         <td>
             <div>
                 <div>Préstamo</div>
                 <div>Intereses</div>
                 <div>Total a Pagar</div>
                 <div>{{cantidadInicializada}}</div>
                 <div>{{interes}}</div>
                 <div>{{montoTotalAPagar}}</div>
             </div>
         </td>
    </tr>
   </table>  <div>
     <a href="">Ver cronograma</a>
     <button (click)="solicitarClick()">SOLICITAR</button>
   </div>
  </section>
  <section>
   <h1>¿Qué necesito para pedir mi préstamo?</h1>
   <div class="contenedor-requisitos-beneficios">
       <div>
         <h1>REQUISITOS</h1>
         <ol>
           <li>Ser mayor de 18</li>
           <li>Recibo de Agua o Luz</li>
           <li>DNI de la solicitante</li>
         </ol>
       </div>
       <div>
           <h1>BENEFICIOS</h1>
           <ol>
             <li>Facilidades en canales de cobro</li>
             <li>Rápido sin tano papeleo</li>
             <li>Tus ventas con VISA son el sustento crediticio</li>
           </ol>
         </div>
   </div>
  </section><section>
     <h1>¿Cómo me entregará mi dinero?</h1>
     <div class="container">
         <div class="row">
           <div class="col">
               <div>1</div>
               <img src="" alt="telefono">
               <h1>NOS CONTACTAREMOS</h1>
               <p>Nos pondremos en contacto contigo dentro de las 24 hrs.</p>
           </div>
           <div class="col">
               <div>2</div>
               <img src="" alt="telefono">
               <h1>TE ENTREGAMOS TU DINERO</h1>
               <p>Recibiras tu desembolso en 48 hrs.</p>
           </div>
           </div>
         </div>
   </section>