<header class="header">

  <h2>Mujer<br>Emprendedora</h2>

    <nav class="mb-4 navbar navbar-expand-lg fixed-top">

      <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">

        <span class="navbar-toggler-icon"></span>

      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent-4">

        <ol class="navbar-nav ml-auto">

          <li class="nav-item ">

            <a class="nav-link" [routerLink] = "['prestamos']"><i class="fas fa-home"></i>PIDE TU PRÉSTAMO</a>

          </li>

          <li class="nav-item ">

            <a class="nav-link" [routerLink] = "['redcontactos']"><i class="fas fa-user"></i> RED DE CONTACTOS</a>

          </li>

          <li class="nav-item">

            <a class="nav-link" [routerLink] = "['crecernegocio']"><i class="fas fa-code-branch"></i> HAZ CRECER TU NEGOCIO</a>

          </li>

          <li class="nav-item">

            <a class="nav-link" href=""><i class="fa fa-code"></i> INICIAR SESIÓN</a>

          </li>

          <li class="nav-item">

            <a class="nav-link" href=""><i class="far fa-comment-dots"></i> REGISTRATE</a>

        </li>

      </ol>

    </div>

  </nav>        

</header>


