<section>

    <h1>Lista para el desembolso</h1>
  
    <div class="container">
  
      <div class="row">
  
         <div class="col">
  
          <div>1</div>
  
          <img src="" alt="telefono">
  
          <h1>NOS CONTACTAREMOS</h1>
  
          <p>Nos pondremos en contacto contigo dentro de las 24 hrs.</p>
  
        </div>
  
        <div class="col">
  
          <div>2</div>
  
          <img src="" alt="telefono">
  
          <h1>TE ENTREGAMOS TU DINERO</h1>
  
          <p>Recibiras tu desembolso en 48 hrs.</p>
  
        </div>
  
      </div>
  
    </div>
    
</section>
