<section class="container">

  <h1>¡FELICITACIONES ANITA!</h1>
 
  <h2>TE OFRECEMOS LOS MEJORES PRÉSTAMOS PARA TI</h2>
 
  <p>
 
    
 
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
 
     FILTROS
 
    </button>
 
   </p>
 
   <div class="collapse" id="collapseExample">
 
    <div class="card card-body">
 
     <div class="container">
 
      <div class="row">
 
        <div class="col">
 
         BUSQUEDA
 
        </div>
 
        <div class="col">
 
         MONTO
 
        </div>
 
        <div class="col">
 
         TIEMPO
 
        </div>
 
       </div>
 
       <div class="row">
 
        <div class="col">
 
         <input type="text" placeholder="ENTIDAD" #datoabuscar (keyup)="busqueda(datoabuscar.value)">
 
        </div>
 
        <div class="col">
 
         <button type="button" (click)="restarCantidad()">-</button>
 
         <span>S/.{{ cantidadInicial }}.00</span>
 
         <button type="button" (click)="sumarCantidad()">+</button>
 
        </div>
 
        <div class="col">
 
         <select name="meses" #valor (change)="cantidadMeses(valor.value)">
 
          <option value="12">12 meses</option>
 
          <option value="36">36 meses</option>
 
          <option value="48">4 años</option>
 
          <option value="60">5 años</option>
 
         </select>
 
        </div>
 
       </div>
 
     </div>
 
    </div>
 
   </div>
 
 </section>
 
 <section>​
 
  <div class="card" *ngFor = "let banco of entidades">
 
    <div class="card-body">
 
     <blockquote class="blockquote mb-0">
 
      <div class="container">
 
        <div class="row">
 
          <div class="col">
 
            <p>{{banco.nombre}}</p>
 
          </div>
 
          <div class="col">
 
            TIENES UN PRÉSTAMO DE:
 
          </div>
 
          <div class="col">
 
            ¿CUÁNTO VOY A PAGAR?
 
          </div>
 
          <div class="col">
 
             INTERESES
 
          </div>
 
          <div class="col">
 
            MONTO TOTAL
 
          </div>
 
          <div class="col">
 
          </div>
 
        </div>
 
        <div class="row">
 
          <div class="col">
 
            <img src="{{banco.img}}" alt="imagen del banco">
 
          </div>
 
          <div class="col">
 
            <p>{{cantidadInicial}}</p>
 
            <p>TCA: {{banco.TCEA}}%</p>
 
          </div>
 
          <div class="col">
 
            <p>{{banco.cuotaObj}}<p>
 
            <p>Mensuales</p>
 
          </div>
 
          <div class="col">
 
            <p>{{banco.interesesObj}}</p>
 
            <p>a {{cantidadMes}} meses</p>
 
          </div>
 
          <div class="col">
 
            <p>S/.{{banco.montoTotalObj}}</p> 
 
          </div>
 
          <div class="col">
 
            <button>PIDE TU PRÉSTAMO</button>
 
            <a>Ver más</a>
 
          </div>
 
        </div>
 
      </div>
 
    </blockquote>
 
  </div>
 
</div>
  
</section>