<article class="container">
  <div>
    <h1>HAZ CRECER TU NEGOCIO</h1>
    <p class="description">
      En esta sección encontrarás información de tu negocio, tips y recomendaciones 
      para hacerlo crecer y productos seleccionados especialmente para ti.
    </p>
  </div>
  
  <div>
    <h2>ESTADÍSTICAS DE TU NEGOCIO</h2>

    <div>
      <h3>VENTAS</h3>
      <div class="progress">
        <div class="progress-bar green" role="progressbar">S/ 1,000</div>
        <div class="progress-bar dark-green" role="progressbar">S/ 2,100</div>
      </div>
      <div>
        <div></div>
        <h5>TU NEGOCIO</h5>
      </div>
      <div>
        <div></div>
        <h5>OTROS NEVOCIOS SIMILARES AL TUYO</h5>
      </div>
    </div>

    <div>
      <h3>CANTIDAD DE TRANSACCIONES</h3>
      <div class="progress">
        <div class="progress-bar blue" role="progressbar">S/ 500 AL MES</div>
        <div class="progress-bar dark-blue" role="progressbar">S/ 1,300 AL MES</div>
      </div>
      <div>
        <div></div>
        <h5>TU NEGOCIO</h5>
      </div>
      <div>
        <div></div>
        <h5>OTROS NEVOCIOS SIMILARES AL TUYO</h5>
      </div>
    </div>

    <div>
      <h3>TICKET PROMEDIO</h3>
      <div class="progress">
        <div class="progress-bar orange" role="progressbar">S/ 20.00</div>
        <div class="progress-bar dark-orange" role="progressbar">S/ 30.00</div>
      </div>
      <div>
        <div></div>
        <h5>TU NEGOCIO</h5>
      </div>
      <div>
        <div></div>
        <h5>OTROS NEVOCIOS SIMILARES AL TUYO</h5>
      </div>
    </div>


  </div>

  <div>
    <h2>TU PRÉSTAMO</h2>
    <p>AÚN NO TIENES UN PRÉSTAMO</p>
    <button class="btn btn-primary btn-lg btn-prestamos">SOLICÍTALO AQUÍ</button>
  </div>
  <app-otros-servicios></app-otros-servicios>
  <div class="tips-container">
    <h2>TIPS Y RECOMENDACIONES</h2>
    <div>
      <div>
        <p class="descripcion-tips">Obtén curso de marketing digital e incrementas tus ventas</p>
        <img src="../../../../assets/imagenes/visanet1.png" alt="marketing-estrategico">
        <button class="btn btn-primary btn-lg">LO QUIERO</button>
      </div>
      <div>
        <p class="descripcion-tips">Aprovecha estos cursos para ti emprendedora</p>
        <img src="../../../../assets/imagenes/visanet2.png" alt="cursos-cortos">
        <button class="btn btn-primary btn-lg">LO QUIERO</button>
      </div>
    </div>
  </div>
</article>