.progress
  width: 500px
  height: 60px  
  font-weight: bold
  font-size: 15px

.green
 background-color: #1DD153
 width: 35%

.dark-green
 background-color: #22AB46
 width: 45%

.blue
 background-color: #3826D7
 width: 48%

.dark-blue
 background-color:#2B32A7
 width: 35%

.orange
 background-color: #F46F00
 width: 45%

.dark-orange
 background-color: #CD6A00
 width: 20%

h1
  font-size: 20px
  font-weight: bold
  margin: 40px auto

.description
 color: grey

h2
 font-size: 17px
 font-weight: bold
 margin: 40px auto 30px

h3
 font-size: 15px
 font-weight: bold
 margin: 30px auto

h5
 font-size: 13px

.container
  margin-top: 60px
  margin-left: 110px

.btn-prestamos
 background: #FAD700
 border: none
 
.btn
 background: #FAD700
 border: none
 border-radius: 0

.descripcion-tips
  width: 500px
  color:#FDFBDD
  background: #FAD700
  padding: 10px
 
 